{% extends  'template.html'%}
{% block content %}
<p><h1><b>Map of my site</b></h1></p>
<br>
<h2>less abstract</h2>
<hr>
<br>
<h1><a href="/">/</a></h1>
<br>
<p>way join all the codes in one</p>

<h2><a href="/ChatSO.html">ChatSO</a></h2>
<p>access to irc channel #jero98772 with irc kiwi</p>
<p>an attempt to use sockets</p>

<h2><a href="/blog.html">blog</a></h2>
<p>join ways of expressing myself in front of different things</p>

<h3><a href="/blog/blog1.html">blog1</a></h3>
<p>thoughts about something</p>

<h3><a href="/blog/blog2.html">blog2</a></h3>
<p>things a little more important for me</p>

<h3><a href="/blog/blog3.html">blog3</a></h3>
<p>I recommend you about diferents topics</p>

<h3><a href="/blog/blog4.html">blog4</a></h3>
<p>figures or gallery of ascii art</p>

<h3><a href="/blog/blog5.html">blog5</a></h3>
<p>good humans that I admire</p>

<h3><a href="/blog/blog6.html">blog6</a></h3>
<p>projects that call my attention that I want to share</p>

<h3><a href="/blog/blog7.html">blog7</a></h3>
<p>travel to others proyects ... with <-iframe-> </p>

<h3><a href="/blog/manifest.html">manifest</a></h3>
<p>me and some cultures of my interest ,I build my Manifest and I read those ofI read those of others others</p>
<br>
<h1><a href="/wwwof">/wwwof</a></h1>
<br>
<h1><a href="/proyects">/proyects</a></h1>


{% endblock %}