{% extends  'template.html'%}
{% block content %}
<p><h1><b>Map of my site</b></h1></p>
<br>
<br>
<h2><p>Wherever you go, you will find the <a href="https://github.com/jero98772">source</a> of creation</p></h2>
<hr>
<br>
<p><h2><b>under water Map</b></h2></p>
<p><h2>take <a href="{{waterMap}}">water </a>way</h2></p>
<br>
<p><h3><b>Swim school and port </b></h3></p>
<p><h4>If you dont swim <a href="{{waterMap}}calcupH.html">CalcuPH</a> can help you for swim for you.</h4></p>
<p><h4>When you swim with <a href="{{waterMap}}calcupH.html">CalcuPH</a> You can learn swim </h4></p>
<br>
<p><h3><b>Diferents maps of the same kingdom under water </b></h3></p>
<p><h4>all maps are diferents.you can see all and know what map you need </h4></p>
<p><h4>the same map in in another language<a href="{{waterMap}}fishproyectsEN.html"> EN</a> and <a href="{{waterMap}}fishproyectsES.html">ES</a></h4></p>
<p><h4>you can find notes about maps like:<a href="{{waterMap}}notasCurapeces.html">CurapecesNote</a> or <a href="{{waterMap}}howproyects/howcurapeces.html
">howcurapeces</a></h4></p>
<p><h4>there are many maps of howproyect like the map above
<a href="{{waterMap}}howproyects/howDrawfishtank.html">howDrawfishtank</a> , <a href="{{waterMap}}howproyects/howfishdb.html
">howfishdb</a> and <a href="{{waterMap}}howproyects/howcalcupH_js.html
">howcalcupH_js</a> </h4></p>
<br>
<p><h4>that are the maps</h4></p>
<br>
<p><h3><b>Maritime port</b></h3></p>
<p><h4>Choise your way.</h4></p>
<p><h4>You can be a input like calculator or you can be a canvas like <a href="{{waterMap}}drawFISHTANK.html">DrawFISHTANK</a></h4></p>
<p><h4>You go alone like a canvas</h4></p>
<p><h4>or</h4></p>
<p><h4>You can join input group of inputs</h4></p>
<br>
<p><h3><b>Other impossible way with no exit</b></h3></p>
<p><h4>Do you remember your talk with <a href="{{waterMap}}divePC.html">DivePC</a> ? , that can help you in this way</h4></p>
<br>
<p><h4>You need go more deeper to find answer about your question.</h4></p>
<p><h4>You can dive in that dangerous liquid.</h4></p>
<p><h4>You dont know if you dont try</h4></p>
<br>
<p><h3><b>When you start is You end.</b></h3></p>
<p><h4>When you and<a href="{{waterMap}}curapeces.html"> Curapeces</a> take this way always they arrive at the same place , Place when you started your way </h4></p>
<p><h4>When  you finish at the beginning in different ways but with more capacity to complete your challenges...</h4></p>
<!--infinite ascii art -->
<div>
	<center>
<br>[['"' '"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"' '"']
 <br>['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']
 <br>['"' '"' '@' '@' '@' '"' '"' '"' '"' '"' '"' '@' '@' '@' '"' '"']
 <br>['"' '@' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '@' '"']
 <br>['"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['"' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['"' '@' '@' '"' '"' '"' '"' '@' '@'' '@' '"' '"' '"' '"' '@' '@']
 <br>['"' '"' '@' '@' '"' '"' '"' '@' '@' '|#|' '@' '"' '"' '@' '@' '']
 <br>['"' '"' '@' '@' '@' '"' '"' '@' '@' '@' '@' '"' '@' '@' '"' '"']
 <br>['"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"']
 <br>['"' '"' '"' '"' '"' '"' '@' '@' '@' '@' '"' '"' '"' '"' '"' '"']]
 </center>
</div>
<h3><b>you will nead write your aventures with friends fishes  </b></h3>
<p><h4><a href="{{waterMap}}data_basecsv.html">data_basecsv </a> is your book of aventures when your friends fishes you will be there ...</h4></p>
<p><h4> from there you will be able to participate in new adventures </h4></p>
<h3><b>you need save the tresures do you found </b></h3>
<p><h4>you can save in tresure named <a href="{{waterMap}}">data_basecsv </a></h4></p>
<p><h4>save tresures in one tresure?</h4></p>

<hr>
<p><h2>over ground and near the hills</h2></p>
<p><h2>take <a href="{{spaceMap}}">space </a>way</h2></p>
<hr>
<p><h2>near to the ground...</h2></p>
<p><h2>you don't need to get up</h2></p>
<p><h3>my home ...</h3></p>
<p><h3>... in my<a href="/ChatSO.html"> home</a> you like talk </h3></p>
<hr>
<h1>¿where that map is from?</h1>
<br>
<h1>hidden in that place</h1>
<img src="https://twitter.com/jero98772/photo">

{% endblock %}