{% extends  'proyects/template.html'%}
{% block content %}
<h1>critoretos </h1>
<hr>
<h1>14/12/2020</h1>
<h3>premio disponible hasta 14/01/2021</h3>
<center>	
<img height="400 " width="700" src="http://wiki.unloquer.org/_media/personas/jero98772/templatereto1telefono_ok.jpeg">
<hr>
<img height="400" width="700" src="http://wiki.unloquer.org/_media/personas/jero98772/template1rueda_ok.jpg">
</center>
<hr>
<code>
rsa:
Ron Rivest, Adi Shamir, y Leonard Adleman le dieron solucion a este problema en el mit eran capses de saber si
estos numeros tiene un significado
"
<br>
[353, 260, 563, 7, 0, 392, 7, 247, 0, 402, 260, 41, 0, 332, 68, 222, 592, 0, 356, 7, 695, 91, 592, 260, 0, 222, 563, 0, 402, 41, 222, 695, 91, 260, 0, 222, 247, 0, 68, 592, 7, 0, 356, 68, 222, 592, 254, 7, 0, 85, 222, 0, 592, 222, 254, 76, 563, 91, 503, 0, 327, 68, 222, 0, 392, 222, 592, 356, 222, 0, 222, 592, 0, 256, 0, 695, 222, 247, 222, 247, 0, 302, 0, 222, 563, 0, 68, 247, 68, 7, 41, 91, 260, 0, 222, 247, 0, 68, 592, 0, 356, 260, 41, 41, 222, 260, 0, 302, 0, 222, 563, 0, 356, 260, 41, 41, 222, 260, 0, 222, 247, 0, 356, 41, 91, 402, 254, 260, 41, 222, 254, 260, 0, 7, 41, 41, 260, 332, 7, 0, 267, 222, 41, 260, 291, 581, 318, 318, 256, 0, 402, 68, 592, 254, 260, 0, 535, 222, 332, 247, 91, 254, 222, 0, 302, 0, 563, 7, 0, 356, 563, 7, 392, 222, 0, 222, 247, 0, 563, 7, 247, 356, 563, 7, 392, 222, 247, 353, 7, 302, 392, 222, 356, 222, 247, 327, 68, 222, 592, 260, 247, 222, 222, 592, 254, 91, 222, 592, 85, 222, 592]
"
<br>
(... mod ,modulo o residuo es lo que sobra de la division 8/7 sobra 1 )
<br>
para allar el significado de un mensaje encritado como rsa ellos usban una formula matematica como numero^d mod n 
<br>
n se puede hallar multiplicando 2 numeros primos secretos (pero te comparto los secretos)
( el primer primo es la cantidad de caracteres que hay desde principio de los nombres hasta la n Adleman)
<br>
el segundo te lo cuento pero encriptado...encriptado seria 1032 con el primer primo despues del 100 que no tenga la letra A en su pronunciacion  y el ultimo primo antes del 100 que no tenga la letra A en su pronunciacion 
<br>
nesesitas calcular n con los primos sin A 
<br>
tambien nesesitas encontrar fi , la llavepublica es el tercer numero primo sin A
<br>
fi lo puedes hallar restandole 1 a los numeros primos y cuando los retses los multiplicas y eso te dara fi
<br>
ahora falta d , d lo encuentras cuando encuentres a un x>=2 que cuando lo operes (1+fi*x) mod e no sea 0 y (1+fi*x)/e que es d no igual a e, los deciemales son inesesarios.
<br>
o tambien podemos encontrar d aqui,la llave para encontrar d fue un numero ya mecionado en este mensaje cifrado
<br><br>
fnyñuqzmqemxnmegynmpqmxaemognfdambduyqdaemzgyqdaembduyaemeuzmnmamqxmeqbfuyamzgyqdambduyameuzmn
<br><br>
en la "rueda" de abcdefghijklmnñopqrstuvwxyz_ o con estos caracteres
<br>
ya tenemos los 2 primos
<br>
calculamos n ,fi , e y d
<br>
para calcular e en este caso es con pi, los primeros 4 numeros de pi los sumas y les sacas raiz cuadrada eso es igual a e
<br>
cuando ya tengas d
<br>

puedes empesar a aplicar esta formula numero^d mod n numero por numero desde el 353,592 el numero que te de cuando apliques la fomula vas a saber en que orden va el mensaje , el resultado de numero^d mod n el numero representa el caracter de esta lista  empesando a contar desde 0 
<br>
[' ', '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', ':', ';', '<', '=', '>', '?', '@', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '[', '\\', ']', '^', '_', '`', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '{', '|', '}', '~']
<br>

algun resulatado de numero^d mod  va ser 0  y 0 es = ' ' 
<br>

</code>

{% endblock %}