{% extends  'proyects/template.html'%}
{% block content %}

<style type="text/css">
.centerdiv{

	display: grid;
	grid-template-columns: 50% 50%   ;
}
	.blue{
	background-color: rgba(0,0,255,0.5);
	width: 90%;
	height: auto;
	margin: auto;
	border:  5px solid rgba(0,0,255,0.7);
	font-size: 50px;
	line-height: auto;
}
	.red{
	background-color: rgba(255,0,0,0.5);
	width: 90%;
	height: auto;
	margin: auto;
	border:  5px solid rgba(255,0,0,0.7);
	font-size: 50px;
	line-height: auto;
}
	.uncolor{
	background-color: rgba(135,0,255,0.5);
	width: 200%;
	height: auto;
	margin: auto;
	border:  5px solid rgba(135,87,255,0.7);
	font-size: 50px;
	line-height: auto;
}
</style>
<center><p style="font-size: 50px">gpgforall</p></center>
<center><h1>keys and paswords not be recovery and no be stroge </h1></center>
<center>
	<div class="centerdiv">
		<a href="criptools/cesar.html" style="color: orange">
			<div class="red">
				cesar
			</div>
		</a>
		<a href="criptools/hashs.html" style="color: orange">
			<div class="blue">
				hash
			</div>
		</a>
	</div>
	<div class="centerdiv">
		<a href="criptools/criptoolsencblog.html" style="color: orange">
			<div class="blue">
				criptoolsencblog
			</div>
		</a>
		<a href="criptools/rsa.html" style="color: orange">
			<div class="red">
				rsa
			</div>
		</a>
	</div>
	<div class="centerdiv">
		<a href="criptools/criptophone.html" style="color: orange">
			<div class="red">
				critophone
			</div>
		</a>
		<!--a href="criptools/criptoolsencblog.html" style="color: orange">
			<div class="blue">
				criptoolsencblog
			</div>
		</a-->
	</div>
	<div class="centerdiv">
		<a href="criptools/criptoretos.html" style="color: green">
			<div class="uncolor">
				criptoretos
			</div>
		</a>
	</div>
</center>
{% endblock %}