{% extends  'proyects/template.html'%}
{% block content %}
		<table>
			<th>
				<tr><img src="http://wiki.unloquer.org/_media/personas/jero98772/elchinoese.jpeg"></tr>	
				<tr><img src="http://wiki.unloquer.org/_media/personas/jero98772/elchinoese.jpeg"></tr>
			</th>
			<br>
			<th>
				<tr><img src="http://wiki.unloquer.org/_media/personas/jero98772/elchinoese.jpeg"></tr>	
				<tr><img src="http://wiki.unloquer.org/_media/personas/jero98772/elchinoese.jpeg"></tr>
			</th>
			<br>
		</table>
		<table>
			<th>
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>	
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>
			</th>
			<th>
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>	
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>
			</th>
			<br>
			<th>
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>	
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>
			</th>
			<th>
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>	
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>
			</th>
			<br>
			<th>
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>	
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>
			</th>
			<th>
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>	
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>
			</th>
			<br>
			<th>
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>	
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>
			</th>
			<th>
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>	
				<tr><iframe src="little_recursion.html" >
	</iframe> </tr>
			</th>
		</table>
 {% endblock  %}
